In [1]:
import import_egrid as ie
raw_dict = ie.import_PLNT_sheet_data()

eGRID2012_Data.xlsx
eGRID2021_data.xlsx
egrid2019_data.xlsx
eGRID2020_Data_v2.xlsx
eGRID2007_plant.xls
eGRID2010_Data.xls
egrid2018_data_v2.xlsx
eGRID2009_data.xls
eGRID2004_plant.xls
egrid2016_data.xlsx
eGRID2014_Data_v2.xlsx
eGRID2005_plant.xls
egrid2022_data.xlsx

In [ ]:
df_2012['year_state'] = df_2012["YEAR"] + '_' + df_2012["state_id"]
df_2012['year_state']

df_2012.rename(columns={'PSTATABB': 'state_id'}, inplace=True)
df_2012['state_id']

In [2]:
import clean_raw_egrid_data as clean

In [3]:
big_df = clean.slim_and_append(raw_dict)

In [ ]:
x = big_df.columns.to_list()
x

In [4]:
import make_db as db

db.makedb(big_df)

In [2]:
import sqlite3
import pandas as pd

/var/folders/3p/76rt9gg12vg2yxlm073tswvc0000gn/T/ipykernel_58477/1229511693.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:

conn = sqlite3.connect('database/plants.db')

# Write your SQL query
query = "SELECT * FROM elec_table "

# Execute the query and fetch the results into a Pandas DataFrame
df = pd.read_sql_query(query, conn)
df

    stateid  year year_state  price_all  price_com  price_ind  price_res
0        AK  2004    2004_AK      10.99      10.99       8.33      12.44
1        AK  2005    2005_AK      11.72      11.56       9.29      13.30
2        AK  2006    2006_AK      12.84      11.93      11.54      14.83
3        AK  2007    2007_AK      13.28      12.19      12.63      15.18
4        AK  2008    2008_AK      14.74      13.64      14.17      16.56
..      ...   ...        ...        ...        ...        ...        ...
983      WY  2018    2018_WY       8.09       9.58       6.71      11.29
984      WY  2019    2019_WY       8.10       9.64       6.73      11.18
985      WY  2020    2020_WY       8.27       9.65       6.88      11.11
986      WY  2021    2021_WY       8.25       9.68       6.83      11.17
987      WY  2022    2022_WY       8.24       9.55       6.89      11.09

[988 rows x 7 columns]

In [4]:

conn = sqlite3.connect('database/plants.db')

# Write your SQL query
query = "SELECT * FROM plants "

# Execute the query and fetch the results into a Pandas DataFrame
df = pd.read_sql_query(query, conn)
df

,year,year_state,state_id,pname,orispl,oprname,oprcode,utlsrvnm,utlsrvid,nerc,...,plgenaof,plgenaop,plgenatn,plgenatr,plgenath,plgenacy,plgenacn,file,sector,nbfactor
0,2012,2012_AK,AK,Agrium Kenai Nitrogen Operations,54452.0,Agrium US Inc,179.0,Agrium US Inc,179.0,ASCC,...,0.0,0.0,0.000,0.0,0.0,0.000,0.0,eGRID2012_Data.xlsx,None,NaN
1,2012,2012_AK,AK,Alakanuk,57053.0,Alaska Village Elec Coop Inc,221.0,Alaska Village Elec Coop Inc,221.0,ASCC,...,0.0,0.0,2031.000,0.0,0.0,2031.000,0.0,eGRID2012_Data.xlsx,None,NaN
2,2012,2012_AK,AK,Anchorage 1,75.0,Anchorage Municipal Light and Power,599.0,Anchorage Municipal Light and Power,599.0,ASCC,...,0.0,0.0,54633.000,0.0,0.0,54633.000,0.0,eGRID2012_Data.xlsx,None,NaN
3,2012,2012_AK,AK,Angoon,7462.0,Inside Passage Elec Coop Inc,18963.0,Alaska Electric Light&Power Co,213.0,ASCC,...,0.0,0.0,1765.000,0.0,0.0,1765.000,0.0,eGRID2012_Data.xlsx,None,NaN
4,2012,2012_AK,AK,Aniak,7182.0,Aniak Light & Power Co Inc,4959.0,Bethel Utilities Corp,1651.0,ASCC,...,0.0,0.0,2759.000,0.0,0.0,2759.000,0.0,eGRID2012_Data.xlsx,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110446,2022,2022_WY,WY,TransAlta Wyoming Wind,56093.0,PacifiCorp,14354.0,NextEra Energy Operating Services LLC,58528.0,WECC,...,0.0,0.0,0.000,341330.0,341330.0,0.000,341330.0,egrid2022_data.xlsx,IPP Non-CHP,NaN
110447,2022,2022_WY,WY,Wygen I,55479.0,Black Hills Power Inc,19545.0,"Black Hills Power, Inc.",19545.0,WECC,...,0.0,0.0,688614.004,0.0,0.0,688614.004,0.0,egrid2022_data.xlsx,IPP Non-CHP,0.000000
110448,2022,2022_WY,WY,Wygen II,56319.0,Black Hills Power Inc,19545.0,"Black Hills Power, Inc.",19545.0,WECC,...,0.0,0.0,720573.002,0.0,0.0,720573.002,0.0,egrid2022_data.xlsx,Electric Utility,0.000000
110449,2022,2022_WY,WY,Wygen III,56596.0,Black Hills Power Inc,19545.0,"Black Hills Power, Inc.",19545.0,WECC,...,0.0,0.0,805208.002,0.0,0.0,805208.002,0.0,egrid2022_data.xlsx,Electric Utility,0.012662
110450,2022,2022_WY,WY,Wyodak,6101.0,PacifiCorp,14354.0,PacifiCorp,14354.0,WECC,...,0.0,0.0,1604716.951,0.0,0.0,1604716.951,0.0,egrid2022_data.xlsx,Electric Utility,0.574418